.title {
  font-size: 50px;
  text-align: center;
}

.description {
  font-size: 20px;
  text-align: center;
  color: #7d7d7d;
  margin-top: 5px;
  width: 500px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
